<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>MEM</title>
<script src="static/js/jquery-3.6.1.js"></script>
<script type="text/javascript">
var img2D = [
	[1,1,2,2],
	[3,3,4,4],
	[5,5,6,6],
	[7,7,8,8]
	];
	
var cvr2D = [
	[1,1,1,1],
	[1,1,1,1],
	[1,1,1,1],
	[1,1,1,1]
	]

function shuffle(){    
	for(var i=0;i<100;i++) {
		var rnd = parseInt(Math.random()*4);
		var rnd2 = parseInt(Math.random()*4);
		var a = img2D[0][0];
		var b = img2D[rnd][rnd2];
		img2D[0][0]=b;
		img2D[rnd][rnd2]=a;
	}
}


function render(){
	for(var i=0;i<img2D.length;i++){
		for(var j=0;j<img2D[i].length;j++){
			if(cvr2D[i][j]==0){
			$("img").eq(i*4+j).attr("src","static/img/0.png");
			}else{
			$("img").eq(i*4+j).attr("src","static/img/"+img2D[i][j]+".png");
			}
		}
	}
}
</script>
</head>
<body onload="shuffle()">
	<table>
		<tr>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
		</tr>
		<tr>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
		</tr>
		<tr>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
		</tr>
		<tr>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
			<td><img src="static/img/0.png"></td>
		</tr>
	</table>
	<a href="javascript:render()">render</a>
</body>
</html>
